@model List<WebDemoMVC.EntitiesFrameWork.Entites.Account>

<h1>Danh sách tài khoản</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên tài khoản</th>
            <th>Ngày đăng ký</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.Username</td>
                <td>@account.CreatedDate</td>
                <td><button type="button" class="btn btn-success" onclick="AccountDelete(@account.Id)">Xóa</button></td>
            </tr>
        }
    </tbody>
</table>