@model List<WebDemoMVC.EntitiesFrameWork.Entites.Account>
<div>
    <form>
        <!-- Username input -->
        <div class="form-outline mb-4">
            <input id="username" class="form-control" />
            <label class="form-label" for="form2Example1">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="password" class="form-control" />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- Register buttons -->
        <button type="button" id="btnRegister" class="btn btn-primary btn-block mb-4">Register</button>

        @{Html.RenderAction("Account", "Account");}
    </form>

    <h1>Thông tin tìm kiếm</h1>
    <form>
        <input type="text" id="SearchUsername" placeholder="Tên tài khoản">
        <input type="text" id="SearchCreatedAt" placeholder="Ngày đăng ký">
        <button type="button" id="btnSearch" class="btn btn-primary btn-block mb-4">Tìm kiếm</button>

    </form>
    @*@{Html.RenderAction("Search", "Account");}*@
    <div id="search-results">

    </div>
</div>
<script>
    $("#btnRegister").click(function () {
        AccountInsert();
    })
    $("#btnSearch").click(function () {
        AccountSearch();
    })
    //$(document).ready(function () {
    //    AccountSearch();
    //});

    function AccountInsert() {
        var username = $("#username").val();
        var password = $("#password").val();

        var param = {
            Username: username,
            Password: password
        };
        $.ajax({
            type: 'POST',
            url: "/Account/Insert",
            data: param,
            dataType: "json",
            success: function (data) {
                alert(data.msg);
            },
            error: function (data) {
                console.log("error:" + JSON.stringify(data));
            }
        });
    }
    function AccountSearch() {
        var username = $("#SearchUsername").val();

        var param = {
            Username: username
        };
        $.ajax({
            type: 'GET',
            url: "/Account/Search",
            data: param,
            dataType: "html",
            success: function (data) {
                $('#search-results').html(data);
                }
        });
 
    }
</script>
